<p>Name   | Symbol   | Price</p>
<!-- <% if (locals.data) { %> -->
<% data.forEach(function (line) { %>
    <tbody>
        <a action="/portfolio/<%= line.symbol %>" href="/portfolio/<%= line.symbol %>">
            <tr>
                <th><%= line.companyName %>  </th>
                <th><%= line.symbol %>  </th>
                <th><%= line.price %> $  </th>
                <th><%= line.changes %> %  </th>
            </tr>
        </a>
        <hr>
    </tbody>
<% });  %>
<!-- <% }; %> -->

<div>
    <a href="/">
        <button type="submit" name="button">Home Page</button>
    </a>
</div>